services:
  aodata-db:
    container_name: aodata-db
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: ao
    ports:
      - 5432:5432
    expose:
      - 5432
    volumes:
      - ./data/:/var/lib/postgresql/data/